BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
CHANNEL_ID=@YourTelegramChannelUsernamehttps://t.me/Bdboyonline
ADMIN_ID=YOUR_TELEGRAM_NUMERIC_ID=@takemoney2bot
PORT=8080
BASE_URL=https://your-render-url.onrender.com
DB_PATH=./db.json
